.about__wrapper {
    font-family: $fontfamily;
    color: $wenge;
}

.threeD{
    margin-top: 4rem;
}

.main{
    background: $baby-powder;
    position: absolute;
    width: 80vw;
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
    padding: 2rem;
    box-shadow: inset 0 20px 16px 0 rgba(0, 0, 0, 0.2), inset 0 12px 40px 0 rgba(0, 0, 0, 0.19);
}

.main__header{
    color: $wenge;
    background: $baby-powder;
    text-align: center;
    font-size: 8rem;
    box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) ;
}

.main__content{
    padding: 2rem;
    font-size: 1.5rem;
}

.main__underheader{
    text-align: center;
    font-size: 4rem;
}

.main__projects-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 25rem;
    padding: 10px;
}

@mixin main__projects-item{
    background-position: center;
    background-size: cover;
    border-radius: 5px;
    max-width: 100%;
    height: 20rem;
    width: 20rem;
    border: 2px solid #E4DFDA;
    text-align: center;
    line-height: 19rem;
    letter-spacing: 3px;
    font-size: 40px;
}
.main__projects-item-1{
    @include main__projects-item;
    background: url(../img/crookedtrees_pre.jpg);
}

.main__projects-item-2{
    background: url(../img/leopard_pre.jpg);
    @include main__projects-item;
    
}
.main__projects-item-3{
    background: url(../img/kalkylator_pre.jpg);
    @include main__projects-item;
    
}

@mixin main__projects-item-img{
    color: $wenge;
    font-size: 1.5rem;
    font-weight: 700;
    border: 1px dashed;
    padding: 2rem;
}

.main__projects-item-img-leopard{
    @include main__projects-item-img;
    color: $baby-powder;
}

.main__projects-item-img{
    @include main__projects-item-img;
}

.main__projects-item-img:hover{
    transition: .5s ease;
    color: $pastel-grey;
}
.main__projects-item-img-leopard:hover{
    transition: .5s ease;
    color: $pastel-grey;
}

.hand{
    position: relative;
    margin-top: 2%;
    left: 25%;
    font-size: 10rem;
    animation: hand 1s ease-in-out;
    transform: rotate(-20deg);
}

.about__socials{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.about__social-link{
    font-size: 8rem;
    color: black;
    transition: .6s ease-in-out;
    margin-top: 2rem;
}
.about__social-link:hover{
    transform: scale(1.1);
    color: $faded-black;
}

.main__spotify-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.spotify{
    //box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) ;
    transition: 0.3s ease-in-out;
    margin-top: 2rem;
}
.spotify:hover{
    transform: scale(1.05);
}

@keyframes hand{
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(20deg);
    }
    100%{
        transform: rotate(-20deg);
    }
}



