.about__wrapper {
    font-family: $fontfamily;
    color: $baby-powder;
}
.border-wrapper{
    position: relative;
    perspective: 100px;
    text-transform: uppercase;
    margin-top: 25vh;
}
.border{
    border: 1px solid $baby-powder;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    text-shadow:
    -1px -1px 0 $baby-powder,  
    1px -1px 0 $baby-powder,
    -1px 1px 0 $baby-powder,
     1px 1px 0 $baby-powder;
    transform-style: preserve-3d;
    display: block;
    height: 135vh;
    width: 80vw;
}

.main{
    /* background: $baby-powder; */
    position: absolute;
    width: 80vw;
    top: 90%;
    left: 50%;
    transform: translateX(-50%);
    padding: 2rem;
}

.main__header-wrapper{
    position: relative;
    perspective: 100px;
    text-transform: uppercase;
    margin-bottom: 12rem;
}

.main__header{
    padding: 2rem;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    text-shadow:
    -1px -1px 0 $baby-powder,  
    1px -1px 0 $baby-powder,
    -1px 1px 0 $baby-powder,
     1px 1px 0 $baby-powder;
    transform-style: preserve-3d;
    color: $faded-black;
    font-size: 8rem;
}

.main__content{
    padding: 2rem;
    font-size: 1.5rem;
}

.main__underheader{
    text-align: center;
    font-size: 4rem;
    letter-spacing: 5px;
}

.main__projects-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    position: relative;
    margin-bottom: 10rem;
    border: 1px solid $baby-powder;
    padding: 4rem;
}

@mixin main__projects-item{
    background-position: center;
    background-size: cover;
    border-radius: 5px;
    max-width: 100%;
    height: 20rem;
    width: 20rem;
    text-align: center;
}
.main__projects-item-1{
    @include main__projects-item;
    background: url(../img/crookedtrees_pre.jpg);
}

.main__projects-item-2{
    background: url(../img/leopard_pre.jpg);
    @include main__projects-item;
    
}
.main__projects-item-3{
    background: url(../img/kalkylator_pre.jpg);
    @include main__projects-item;
    
}

@mixin main__projects-item-img{
    color: $wenge;
    font-size: 1.5rem;
    font-weight: 700;
    border: 1px dashed;
    padding: 2rem;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    
}

.main__projects-item-img-leopard{
    @include main__projects-item-img;
    color: $baby-powder;
}

.main__projects-item-img{
    @include main__projects-item-img;
}

.main__projects-item-img:hover{
    transition: .5s ease;
    color: $pastel-grey;
}
.main__projects-item-img-leopard:hover{
    transition: .5s ease;
    color: $pastel-grey;
}

.hand{
    position: relative;
    margin-top: 2%;
    left: 25%;
    font-size: 10rem;
    animation: hand 1s ease-in-out;
    transform: rotate(-20deg);
}

.about__socials{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.about__social-link{
    font-size: 8rem;
    color: $baby-powder;
    transition: .6s ease-in-out;
    margin-top: 2rem;
}
.about__social-link:hover{
    transform: scale(1.1);
    color: $mint;
}

.main__spotify-container{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border: 1px solid $baby-powder;
    padding: 4rem;
}

.spotify{
    //box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) ;
    transition: 0.3s ease-in-out;
    margin-top: 2rem;
}
.spotify:hover{
    transform: scale(1.05);
}

@keyframes hand{
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(20deg);
    }
    100%{
        transform: rotate(-20deg);
    }
}



