/* Large screens */
@media only screen  and (min-width : 2101px) and (max-width : 2560px) {
   
    /* About */
    .main{
        top: 80%;
    }

    .border{
        height: 112vh;
        
    }
    
    .main__header{
        font-size: 8rem;
    }
    /* Contact */
    .section__contact{
        height: 80vh;
    }
   
}

/* Ipad (Landscape and Portrait */
@media only screen and (min-width : 813px) and (max-width : 1025px) {
    /* Navbar */
    .navbar__links-item{
        font-size: 4rem;
    }
    /* Landing Page */
    
    .social-link{
        font-size: 6rem;
    }
    /* About */
    .main{
        top: 70%;
    }
    .main__header{
        font-size: 4rem;
    }
    .main__projects-container{
        margin-bottom: 50vh;
    }
    /* Contact */
    .contact__header{
        font-size: 5rem;
    }
    .form-btn{
        font-size: 1rem;
    }
}

/* Smartphones (Landscape and Portrait) */
@media only screen and (min-width : 300px) and (max-width : 812px){
    
    /* Navbar */
    .navbar__links-item{
        font-size: 4rem;
    }
    /* Landing Page */
    
    .social-link{
        font-size: 6rem;
    }
    /* About */
    .border-wrapper{
        margin-top: 0vh;
    }
    .border{
        height: 185vh;
    }
    .main{
        top: 120%;
    }
    .main__header{
        font-size: 4rem;
    }
    .main__underheader{
        font-size: 2rem;
    }
    .main__content{
        font-size: 1rem;
        top: 5vh;
        margin-bottom: 2rem;
    }
    .main__projects-item-1,
    .main__projects-item-2,
    .main__projects-item-3{
        height: 5rem;
        width: 10rem;
        margin: 1rem;
        left: -11vw;
        background: none;
    }
    .main__projects-item-img{
        font-size: 1rem;
        color: $baby-powder;
        width: 12rem;
        height: 5rem;
        display: block;
    }
    .main__projects-item-img-leopard{
        font-size: 1rem;
        width: 12rem;
        height: 5rem;
        display: block;
    }
    .about__social-link{
        font-size: 3rem;
        margin-top: 5rem;
    }
    iframe{
        height: 100px;
        width: 80px;
    }
    /* Contact */
    .section__contact{
        height: 130vh;
    }
    .contact__header{
        font-size: 4rem;
    }
    .form-btn{
        font-size: 1rem;
    }
    .form__container{
    
        .form__group {
            left: 0;
            width: 100%;
          }
          
          .form__field {
          
            &::placeholder {
              color: transparent;
            }
          
            &:placeholder-shown ~ .form__label {
              font-size: 1rem;
            }
          }
          .form__label {
    
            font-size: 1.3rem;

          }
          
    }
}