/* Large screens */
@media only screen  and (min-width : 2101px) and (max-width : 2560px) {
   
    /* About */
    .main{
        top: 80%;
    }

    .border{
        height: 112vh;
        
    }

    .main__header{
        font-size: 8rem;
    }
    .main__underheader{
        font-size: 7rem;
    }
    .about__social-link{
        margin-top: 6rem;
    }
    /* Contact */
    .section__contact{
        height: 80vh;
    }
   
}

/* Ipad (Landscape and Portrait */
@media only screen and (min-width : 768px) and (max-width : 1025px) {
    /* Navbar */
    /* Landing Page */
    /* About */
    /* .border-wrapper{
        margin-top: 0vh;
    }
    .border{
        height: 135vh;
    }
    .main{
        top: 70%;
    } */
    .threeD:not(.robot){
        margin: 5rem;
    }
    .main__header{
        font-size: 4rem;
    }
    .main__underheader{
        font-size: 2rem;
    }
    .main__content{
        font-size: 1rem;
    }
    .main__projects-item{
        margin: 1rem;
    }
    .main__projects-item-img{
        text-decoration: underline;
    }

    .about__social-link{
        font-size: 3rem;
        margin-top: 5rem;
    }
    iframe{
        height: 80px;
        width: 80px;
    }
    /* Contact */
    .contact__header{
        font-size: 5rem;
    }
    .form-btn{
        font-size: 1rem;
    }
    .social-link-contact{
        font-size: 5rem;
    }
}

/* Smartphones (Landscape and Portrait) */
@media only screen and (min-width : 300px) and (max-width : 766px){
    
    /* Navbar */
    /* Landing Page */
    .socials.landing{
        bottom: 14vh;
    }
    /* About */
    /* .border-wrapper{
        margin-top: 0vh;
    }
    .border{
        height: 230vh;
    } */
    /* .main{
        top: 70%;
    } */
    .threeD{
        margin-bottom: 0;
    }
    .main__header{
        font-size: 4rem;
    }
    .main__underheader{
        font-size: 2rem;
    }
    .main__content{
        font-size: 1rem;
        top: 5vh;
        margin-bottom: 2rem;
    }
    .main__projects-item{
        margin: 1rem;
    }
    .main__projects-item-img{
        font-size: 1.2rem;
        text-decoration: underline;
    }
    .main__projects-container{
        padding: 0;
    }
    .about__social-link{
        font-size: 3rem;
        margin-top: 5rem;
    }
    iframe{
        height: 80px;
        width: 80px;
    }
    /* Contact */
    .section__contact{
        height: 140vh;
    }
    .contact__header{
        font-size: 4rem;
    }
    .form-btn{
        font-size: 1rem;
    }
    .form__container{
    
        .form__group {
            left: 0;
            width: 100%;
          }
          
          .form__field {
          
            &::placeholder {
              color: transparent;
            }
          
            &:placeholder-shown ~ .form__label {
              font-size: 1rem;
            }
          }
          .form__label {
    
            font-size: 1.3rem;

          }
          
    }

    .social-contact{
        margin-top: -6rem;
    }
    .social-link-contact{
        font-size: 3rem;
    }
    

}