
.video-background-header{
    border: 1rem solid white;
    position: relative;
    z-index: 1;
    width: 100%; 
    height: 100vh;
}

.header__video__titel{
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: auto;
    transform: translateY(-50%);
    word-wrap: break-word;
    font-family: $fontfamily;
    font-size: 10rem;
    text-transform: uppercase;
    font-weight: 800;
    background-color: rgba(255, 255, 255, 0.705);
    /* the magic property */
    mix-blend-mode: screen;

}