.section__links{
    border: 1rem solid white;
    padding: 1rem;
    background: rgba(0, 0, 0, 0.37);
}

.section__links__item-wrapper{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.section__links-item{
    display: inline-block;
    position: relative;
    font-family: $fontfamily;
    font-size: 10rem;
    text-transform: uppercase;
    font-weight: 800;
    color: white;
}