.navbar__links{
    /* border: .3rem solid $baby-powder; */
    padding: 1rem;
    margin-bottom: 3rem;
    transition: all .2s ease-in-out;

    &:hover {
        opacity: .8;
        cursor: pointer;
    }
}

.navbar__links__item-wrapper{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.navbar__links-item{
    visibility:hidden;
    display: inline-block;
    position: relative;
    font-family: $fontfamily;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 800;
    color: $baby-powder;
}
.iglo{
    color: $baby-powder;
}