/* Landing Page */
.socials{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    position: absolute;
    bottom: 3vh;
    width: 100vw;
}

.social-link{
    font-size: 1.5rem;
    color: white;
    visibility: hidden;

    i {
        transition: all .2s ease-in-out;
    }
}

.social-link:hover{
    cursor: pointer;
    i {
        opacity: .8;
    }
}

/* CONTACT */
.socials-contact{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    position: relative;
    margin-top: -4rem;
  }
  
  .social-link-contact{
    font-size: 8rem;
    color: $light-jelly-bean;
    transition: .3s ease-in-out;
    /* visibility:hidden; */
  }
  .social-link-contact:hover{
    transform: scale(1.1);
    color: $baby-powder;
}

  /* ABOUT */
  .about__socials{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.about__social-link{
    font-size: 8rem;
    color: $baby-powder;
    transition: .3s ease-in-out;
    margin-top: 2rem;
}
.about__social-link:hover{
    transform: scale(1.1);
    color: $mint;
}