.socials{
    display: flex;
    justify-content: space-around;
    margin-top: 30%;
    flex-wrap: wrap;
}

.social-link{
    font-size: 10rem;
    color: white;
    transition: .6s ease-in-out;
    visibility:hidden;
}

.social-link:hover{
    transform: scale(1.1);
    color: $light-jelly-bean;
}