/* -------Color Pallette------ */
$wenge: #5C5550;
$alabaster: #ECEBE4;
$pale-chestnut: #EBB3A9;
$peach: #FEC3A6;
$dark-vanilla: #DBBEA1;
$baby-powder: #FFFDF7;
$charleston-green: rgba(45, 42, 39, 0.404);
$pastel-grey:#DBCEC0;
$jelly-bean:rgba(234, 99, 75, 0.767);
$light-jelly-bean:rgba(255, 197, 187, 0.747);
$dark-jelly-bean:rgba(234, 99, 75, 0.897);
$faded-black: rgb(20,20,20);
$mint: #B3CBB9;

/* -------Google Font--------- */
$fontfamily: 'Raleway', sans-serif;