*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css?family=Raleway:400,800&display=swap');

@import "variables.scss";
@import "header.scss";
@import "links.scss";
@import "3d-text.scss";
@import "animations.scss";